.streams-action {
    text-align: right !important;
    width: 150px;
}

.streams-head {
    position: relative;
    overflow: hidden;
}

.streams-head .side {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.streams-head .side input,
.streams-head .side a {
    display: block;
    float: left;
}

.streams-head .side a {
    padding: 6px 15px 6px 25px;
}